*{
    color: white;
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
.container{
    text-align: center;
    padding: 2rem;
}
td{
    font-size:2rem ;
    border-bottom: 0.10rem solid white;
    cursor: pointer;
}

input{
    padding: 0.56rem;
    color: black;
}
form{
    display: flex;
    justify-content: center;
    height: 2rem;
    padding: 1rem 5rem;
    border-radius: 0.56rem;
    /* width: 3rem; */
    border-radius: 50%;
    border: 2px blue;
}
